.servicesCards-header {
  margin-top: 10%;
  font-weight: 500;
}

.servicesCards {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  grid-gap: 45px;
}

.servicesCards-header {
  color: #0088cc;
  font-weight: bold;
  margin-left: 20px;
}

@media (min-width: 600px) {
  .servicesCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    grid-gap: 100px;
  }
}
