.NavBar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 70px;
    box-shadow: 0px 4px 20px 5px #ffffff;
  }
  
  .NavBar-button {
    background-color: transparent;
    border: none;
    padding: 15px 0 15px 15px;
  }
  
  .NavBar-button:active,
  .NavBar-button:focus {
    border: none;
    outline: none;
  }
  
  .NavBar-hamburguer {
    font-size: 35px;
    color: #0088cc;
  }
  
  .NavBar-box {
    display: none;
    flex: 1;
  }
  
  .NavBar-box.is-open {
    display: block;
    z-index: -1;
    height: 100%;
    color: white;
    font-weight: 300;
  }
  
  .NavBar-box-link {
    margin-right: 40px;
    font-size: 20px;
    display: block;
    color: #0088cc;
    font-weight: 600;
    background-color: white;
    padding: 40px 20px;
    height: 80%;
    border-top: 1px solid #0088cc;
  }
  
  .NavBar-box-link:hover {
    cursor: pointer;
  }
  
  .NavBar-logo-menu {
    background-color: white;
  }
  
  .navbar-box-item {
    padding-top: 25px;
    font-size: 20px;
  }
  
  .NavBar-logo img{
    display: none;
  }

  .NavBar-logo-menu {
    display: flex;
    flex-direction: row;
    background-color: white;
  }

  .NavBar-contact-details {
    display: none;

  }
  
  @media (min-width: 744px) {
    .NavBar {
      height: 90px;
    }
    .NavBar-logo {
      position: relative;
    }
    .NavBar-logo img {
    width: 50px;
    left: 10px;
    top: 3px;
    }
    .NavBar-box.is-open {
      margin-top: 0px;
      width: 100%;
      background-color: transparent;
    }
    .NavBar-button {
      display: none;
    }
    .NavBar-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      box-shadow: black;
      width: 100%;
      height: 90px;
    }
    .NavBar-box-link {
      float: right;
      margin-top: 30px;
      font-weight: 600;
      font-size: 22px;
      background-color: transparent;
      padding: 0;
      border-top: none;
  
    }
    
    .NavBar-contact-details {
      display: grid;
      position: absolute;
      left:0;
      margin: 10px;
    }
    .NavBar-contact-details img {
      width: 40px;
    }
  
    .NavBar-contact-number {
      color: #0088cc;
      padding: 10px 10px 10px 0;
    } 
  }