.servicesCard-container {
    border:2px solid #AFB8C5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    width:100%;
    box-shadow: 5px 7px 10px 0 #AFB8C5;
}

.servicesCard-title {
   text-align: center;
}

.servicesCard-title {
    color:#6f7174;
}

@media(min-width:600px) {
    .servicesCard-container {
        width: 50%;
        height:150%;
        margin: 20px;
    }
}